.container {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  transition: opacity 100ms;
  caret-color: var(--clr-red-400);
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem 0;

  &::placeholder {
    color: white;
    opacity: 0.5;
  }

  &:focus {
    opacity: 1;
  }

  &:not(:placeholder-shown) + .underline {
    opacity: 1;
  }

  &:focus + .underline:not(.error) {
    background-color: var(--clr-white);
    opacity: 1;
  }

  @include tablet() {
    font-size: 1.5rem;
  }
}

.underline {
  content: '';
  height: 1px;
  background-color: var(--clr-gray-400);
  transition:
    background-color 200ms,
    opacity 200ms;
  opacity: 0;

  &.alwaysVisible {
    opacity: 1;
  }

  &.error {
    background-color: var(--clr-red-400);
  }
}

.errorMessage {
  margin-top: 0.25rem;
  padding-left: 0.25rem;
  color: var(--clr-red-400);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
