.container {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media only screen and (min-width: 540px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet() {
    gap: 1.5rem;
  }

  @include desktop() {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.messageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.error {
  padding-top: 2rem;
  text-align: center;
  color: var(--clr-red-400);
}
