.messageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark-blue-400);
  height: var(--trending-show-thumb-h);
  border-radius: 10px;
}

.error {
  color: var(--clr-red-400);
}
